version: "2"
services:
    penpal-server:
        build: ./Server
        volumes:
            - penpal-npm-cache:/home/node/.npm
            - ./N8n-Nodes/:/home/node/custom-n8n-nodes/
        ports:
            - "3000:3000"
            - "5678:5678"
        command: npm run start
        networks:
            - public

    node-red:
        image: nodered/node-red
        volumes:
            - node-red-data:/data
        ports:
            - "1880:1880"

volumes:
    penpal-npm-cache:
        external: false
    node-red-data:
        external: false

networks:
    public:
        driver: bridge
