{
  "presets": [
    [
      "@babel/preset-env",
      {
        "shippedProposals": true,
        "corejs": "3",
        "useBuiltIns": "usage"
      }
    ],
    "@babel/preset-react"
  ],
  "plugins": []
}