{
  "presets": [
    [
      "@babel/preset-env",
      {
        "shippedProposals": true,
        "corejs": "3",
        "useBuiltIns": "usage"
      }
    ],
    "@babel/preset-react"
  ],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["."],
        "alias": {
          "@penpal/common": "./src/common/common.js",
          "@penpal/core": "./src/server/penpal/server.js"
        }
      }
    ]
  ]
}
