{
  "presets": ["@babel/preset-env"],
  "plugins": [
    "@babel/plugin-transform-modules-commonjs",
    [
      "module-resolver",
      {
        "root": ["."],
        "alias": {
          "@penpal/common": "./src/common/common.js",
          "@penpal/core": "./src/server/penpal/server.js",
          "@penpal/plugins": "./plugins/plugins-loader.js"
        }
      }
    ]
  ]
}
